
# agent-service/.env
#
#
# SPRING_RABBITMQ_HOST=localhost
# SPRING_DATA_REDIS_HOST=localhost
# LLM_GATEWAY_URL=http://localhost:8767
# EUREKA_CLIENT_REGISTER_WITH_EUREKA=false
# EUREKA_CLIENT_FETCH_REGISTRY=false

#lm-gateway/.env
#
#
#LLAMA_BASE_URL=http://localhost:11434
# LLM_MODEL=qwen2.5:0.5b

# retrieval-service/.env
#
#
# QDRANT_HOST=localhost
# QDRANT_PORT=6334
# OLLAMA_BASE_URL=http://localhost:11434
# EMBEDDING_MODEL=nomic-embed-text
# EUREKA_CLIENT_REGISTER_WIT::EUREKA=false
# EUREKA_CLIENT_FETCH_REGISTRY=false

# service-memory/.env
#
#
# DATABASE_URL=postgresql+asyncpg://root:root@localhost:5432/postgres
# REDIS_URL=redis://localhost:6379/0
